
body {
    font-family: Arial, sans-serif;
    background-image: url('https://gt7-generator-pictures.s3.amazonaws.com/website-pictures/website-background.webp'); /* Path to your image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; /* Full height */
    margin: 0; /* Remove default margin */
}

button {
    padding: 8px 16px;
    margin: 5px;
    background-color: lightgray;
    border: none;
    border-radius: 4px;
}

button.active {
    background-color: blue;
    color: white;
}

input[type="range"] {
    width: 100%;
}

input[type="text"], input[type="checkbox"] {
    padding: 8px;
    margin: 5px;
}
