.power-button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: gray;
    transition: background-color 0.3s ease;
}

.power-button.off {
    background-color: gray;
}

.power-button.on {
    background-color: green;
}
.car-button {
    padding: 10px;
    margin: 2px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    outline: none;
}

.car-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.car-button:focus {
    outline: none;
}